
body{
    margin: 0;
    background-color: #dbb7b7;
  }
  
  .flex-container{
    display: flex;
    flex-flow: row wrap;
    padding: 40px;
    width: 100%;
    justify-content: center;
  }
  
  div-fotos{
    width: 100%;
  }
  
  .imagen-flex{
    width: 500px;
    margin: 20px;
  }
  