.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  margin: 10px;
  line-height: 60px;
  text-align: center;
  background: #e6acad;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}