footer{
    width: 100%;
    padding: 5px 0px;
    background-color: #e6acad;
  }
  
  .redes-insta, .redes-face{
  
    text-align: right;
  }
  
  a{
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff65c3;
    font-weight: 600;
    margin: 10px;
    justify-content: center;
  }