.navbar{
  padding: 0;
}

.container-fluid {
    background-color: #e6acad;
    flex-direction: column;
  }

  .nav-item{
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
  h1 {
    font-size: 50px;
    -webkit-text-stroke: 2px #ff65c3;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
  }

  