.navbar {
    background-color: #e6acad;
  }
  
  .container-logo {
    text-align: center;
  }
  
  
  
  h1 {
    font-size: 50px;
    -webkit-text-stroke: 2px #ff65c3;
    color: black;
  }
  
  h2{
    font-size: 40px;
  }
  
  h1, h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
  }
  