body{
  margin: 0;
  background-color: #dbb7b7;
}

.flex-container{
  display: flex;
  flex-flow: row;
  margin: 10px auto;
  padding: 40px;
  width: 100%;
}
  
div-fotos{
  width: 100%;
}
  
.imagen-flex{
  width: 100%;
  margin: 10px auto;
}
