@media only screen and (max-width: 560px) {
    .container-logo{
      width: 100%;
    }
    
    h1{
      width: 100%;
      font-size: 50px;
    }
  
    .flex-container, img{ 
      width: 100%;
      margin: 10px auto;
    }
  
    footer{
      width: 100%;
    }
    
    .buttons{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

 