@media only screen and (max-width: 560px) {
    .container-logo{
      width: 100%;
    }
    
    h1{
      width: 100%;
      font-size: 50px;
    }
  
    .imagen-flex{ 
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  
    footer, .container-redes{
      width: 100%;
    }
    .redes{
      font-size: 20px;
    }
  }