h2{
    font-size: 50px;
    -webkit-text-stroke: 2px #ff65c3;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
  }
  
  .flex-container{
      display: flex;
      flex-flow: row wrap;
      padding: 40px;
      width: 100%;
      justify-content: center;
      
      div{
        width: 500px;
        height: 100%;
        margin: 20px;
      }
      
    }  
    
    .video-flex{
      width: 100%;  
    }