h2{
    text-align: center;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    padding: 40px;
    width: 100%;
    justify-content: center;
    
    div{
      width: 500px;
      height: 100%;
      margin: 20px;
    }
    
    img{
      p{
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
      }
    }
  }  
  
  .imagen-flex{
    width: 100%;
    box-shadow: 7px -20px 50px rgb(119, 119, 119);
    
  }