* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbb7b7;
}

/* navbar */
.navbar {
  background-color: #e6acad;
}

.container-logo {
  text-align: center;
}



h1 {
  font-size: 50px;
  -webkit-text-stroke: 2px #ff65c3;
  color: black;
}

h2{
  font-size: 40px;
}

h1, h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

/* fin navbar */

/*body*/

body{
  margin: 0;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
  width: 100%;
  justify-content: center;
}

div-fotos{
  width: 100%;
}

.imagen-flex{
  width: 500px;
  margin: 20px;
}



/* Fin body */

/* footer */
footer{
  width: 100%;
  padding: 5px 0px;
  background-color: #e6acad;
}

.redes-insta, .redes-face{

  text-align: right;
}

a{
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff65c3;
  font-weight: 600;
  margin: 10px;
  justify-content: center;
}



/* fin footer */

/* medias querys */

@media only screen and (max-width: 560px) {
  .container-logo{
    width: 100%;
  }
  
  h1{
    width: 100%;
    font-size: 50px;
  }

  .imagen-flex{ 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  footer, .container-redes{
    width: 100%;
  }
  .redes{
    font-size: 20px;
  }
}
/* fin medias querys */